@media only screen and (min-width: 1000px)
{
    .milestonesInfoWindowLight
    {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        border-radius: 10px;
        width: 370px;
        box-shadow: 7px 7px 30px 0px rgba(0, 0, 0, 0.4), -7px -7px 30px 0px rgba(0, 0, 0, 0.4);
        z-index: 10;
        transition: visibility 0.3s ease-out, top 0.3s ease-out, opacity 0.3s ease-out;
        visibility: hidden;
        opacity: 0;
        top: 90px;
        overflow: hidden
    }
    .milestonesInfoWindowDark
    {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        border-radius: 10px;
        width: 370px;
        box-shadow: rgba(255, 255, 255, 0.6) 7px 7px 30px 0px, rgba(255, 255, 255, 0.4) -7px -7px 30px 0px;
        z-index: 10;
        transition: visibility 0.3s ease-out, top 0.3s ease-out, opacity 0.3s ease-out;
        visibility: hidden;
        opacity: 0;
        top: 90px;
        overflow: hidden
    }
    .showWindow
    {
        visibility: visible !important;
        opacity: 100% !important;
        top: 180px !important;
    }

    #tabViews
    {
        margin: 0px;
        padding: 5px;
        border-radius: 4px;
        max-height: 390px;
        overflow-y: scroll;
    }
}

@media only screen and (max-width: 999px)
{
    .milestonesInfoWindowLight
    {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 100%;
        box-shadow: 7px 7px 30px 0px rgba(0, 0, 0, 0.4), -7px -7px 30px 0px rgba(0, 0, 0, 0.4);
        z-index: 15;
        transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
        visibility: hidden;
        opacity: 0;
        top: 0px;
        overflow: hidden
    }
    .milestonesInfoWindowDark
    {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 100%;
        box-shadow: rgba(255, 255, 255, 0.6) 7px 7px 30px 0px, rgba(255, 255, 255, 0.4) -7px -7px 30px 0px;
        z-index: 15;
        transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
        visibility: hidden;
        opacity: 0;
        top: 0px;
        overflow: hidden
    }
    .showWindow
    {
        visibility: visible !important;
        opacity: 100% !important
    }

    #tabViews
    {
        margin: 0px;
        padding: 5px;
        border-radius: 4px;
        max-height: calc(100% - 105px);
        overflow-y: scroll;
    }
}

#milestonesInfoWindowHeader
{
    text-align: center;
    font-size: 13pt;
    font-weight: bold;
    padding: 10px
}
#closeMilestoneInfo
{
  position: absolute;
  right: 6px;
  top: 1px;
  font-size: 11pt;
  width: 30px;
  height: 30px;
}
#closeMilestoneInfo img
{
    width: 100%
}

.milestonesInfoWindowContentLight
{
    background-color: rgb(241, 241, 241);
    padding: 7px;
    height: 100%
}
.milestonesInfoWindowContentDark
{
    background-color: #000;
    padding: 7px;
    height: 100%;
}

#tabInfoList
{
    left: 9px
}
#tabInfoNotes
{
    left: 15px
}