#statusBarContainer
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 13pt;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    box-sizing: border-box;
    overflow-x: scroll;
    white-space: nowrap;
    color: white;
}