#noMilestones
{
    display: block;
    font-size: 18pt;
    text-align: center;
    color: #868686;
    padding: 12px
}

.firstListItem
{
    margin-top: 0px !important
}

.milestoneListItemLight
{
    position: relative;
    width: 100%;
    padding: 5px;
    background-color: white;
    box-sizing: border-box;
    height: 41px;
    border-radius: 4px;
    margin-top: 6px;
    border: 1px solid #c2c2c2;
    color: black;
    font-family: sans-serif;
}
.milestoneListItemDark
{
    position: relative;
    width: 100%;
    padding: 5px;
    background-color: rgb(67, 67, 67);
    box-sizing: border-box;
    height: 41px;
    border-radius: 4px;
    margin-top: 6px;
    border: 1px solid rgb(111, 111, 111);
    color: white;
    font-family: sans-serif;
}

.milestonesListItemName
{
    display: inline-block;
    overflow-x: scroll;
    width: 67%;
    white-space: nowrap;
}

.milestoneListItemDaysRemaining
{
    position: absolute;
    display: inline-block;
    right: 5px;
}

.milestoneOuterBarLight
{
    position: relative;
    height: 8px;
    margin-top: 0px;
    border-radius: 12px;
    background: rgb(207,207,207);
    background: linear-gradient(180deg, rgba(203,203,203,1) 0%, rgba(255,255,255,1) 100%);
    box-shadow: inset 0px -1px 0px 0px #d7d7d7, inset 0px 1px 0px 0px #b9b9b9;
}
.milestoneOuterBarDark
{
    position: relative;
    height: 8px;
    margin-top: 0px;
    border-radius: 12px;
    background: rgb(207,207,207);
    background: linear-gradient(180deg, rgb(26, 26, 26) 0%, rgb(113, 113, 113) 100%);
    box-shadow: inset 0px -1px 0px 0px #737373, inset 0px 1px 0px 0px #4f4f4f;
}
.milestoneInnerBarLight
{
    position: relative;
    height: 8px;
    background: linear-gradient(180deg, rgba(135,135,135,1) 0%, rgba(20,20,20,1) 100%);
    margin-bottom: 5px;
    border-radius: 12px;
}
.milestoneInnerBarDark
{
    position: relative;
    height: 8px;
    background: linear-gradient(180deg, rgb(219, 219, 219) 0%, rgb(132, 132, 132) 100%);
    margin-bottom: 5px;
    border-radius: 12px;
}