#outerProgressContainer
{
    position: absolute;
    width: 98%;
    height: 40px;
    left: 50%;
    transform: translateX(-50%)
}

#outerProgress
{
    position: relative;
    width: 100%;
    height: 100%;
    background: lightgrey;
    border-radius: 7px;
    overflow: hidden
}
.outerProgressLight
{
    box-shadow: rgb(255 255 255) 12px 12px 20px 2px, rgb(255 255 255) -12px -12px 20px 2px;
}
.outerProgressDark
{
    box-shadow: rgba(0, 0, 0, 0.7) 12px 12px 20px 2px, rgba(0, 0, 0, 0.7) -12px -12px 20px 2px;
}

#innerProgress
{
    position: relative;
    height: 100%;
    transition: width 0.5s ease-out
}

.marker
{
    position: absolute;
    top: 5px;
    width: 5px;
    height: 40px;
    transition: height 0.2s ease-out;
    border-radius: 16px 16px 0 0
}
.markerLight
{
    background: #1e90ff;
}
.markerDark
{
    background: #39f;
}
.markerSelected
{
    height: 75px
}

.label
{
    position: absolute;
    top: 42px;
    transition: top 0.2s ease-out;
    width: fit-content;
    height: 18px;
    border-radius: 6px;
    padding: 4px;
    white-space: nowrap;
    transform: translate(-19px);
    font-size: 12pt;
    max-width: 120px;
    min-width: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.labelLight
{
    border: 3px solid #1e90ff;
    color: black;
    background: white;
}
.labelLight:hover
{
    background-color: #bbb
}
.labelDark
{
    border: 3px solid #39f;
    color: white;
    background: rgb(67, 67, 67);
}
.labelDark:hover
{
    background-color: #222
}
.labelSelected
{
    top: 75px;
}

#percentageLabel {
    position: absolute;
    width: 52px;
    text-align: center;
    top: 50%;
    padding: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: black;
    font-size: 12pt;
    border-radius: 16px;
    z-index: 9;
    font-weight: bold
}

#timeRemainingContainer
{
    position: relative;
    text-align: center;
    padding: 5px;
    font-size: 21pt;
    font-weight: bold;
    margin-top: 28px;
    z-index: 9;
    width: calc(100% - 150px);
    left: 50%;
    transform: translate(-50%)
}

#timeRemainingContainer:hover
{
    color: gray !important
}

.timeRemainingLight
{
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255) 1px 1px 7px, rgb(255, 255, 255) -1px -1px 7px
}

.timeRemainingDark
{
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 1px 1px 7px, rgb(0, 0, 0) -1px -1px 7px
}

#openCloseMilestonesInfoButton
{
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    margin-top: 0px;
    box-shadow: 0px 0px 0px 0px black
}
.openCloseMilestonesInfoButtonLight
{
    border: 1px solid #717171;
}
.openCloseMilestonesInfoButtonDark
{
    border: 1px solid #959595;
}
#openCloseMilestonesInfoImg
{
    width: 100%;
    position: relative;
    vertical-align: middle;
}