#notesInput
{
    width: 100%;
    resize: none;
    height: 100px;
    font-family: sans-serif;
    font-size: 12pt;
    padding: 5px;
    position: relative;
    display: block;
}

#notesTitle
{
    font-size: 12pt;
    font-family: sans-serif;
    position: relative;
    font-weight: bold;
    margin: 5px;
    display: block;
    text-align: center;
}

#notesSaveButton
{
    margin-top: 5px
}

#notesErrorText
{
    text-align: center;
    font-family: sans-serif;
    padding: 3px;
    font-weight: bold;
    color: red;
    margin-top: 5px;
}

#noMilestoneSelectedText
{
    display: block;
    font-size: 18pt;
    text-align: center;
    color: #868686;
    padding: 12px
}