body{ font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-size: cover; background-repeat: repeat-y }
.greyedOutBackground
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
    visibility: hidden;
    opacity: 0%;
    z-index: 12;
}
.lightGreyedOutBackground
{
    background-color: rgba(0, 0, 0, 0.5)
}
.darkGreyedOutBackground
{
    background-color: rgba(90, 90, 90, 0.5)
}


.lightModePanelBackground
{
    background-color: #f1f1f1
}

.darkModePanelBackground
{
    background-color: #000
}

.opacityFull
{
    visibility: visible !important;
    opacity: 100% !important
}

.headerLight
{
    background-color: rgba(255, 255, 255);
    color: rgb(0, 0, 0);
    border-bottom: 1px solid lightgray;
}
.headerDark
{
    background-color: rgba(67, 67, 67);
    color: #fff;
    border-bottom: 1px solid rgb(111, 111, 111)
}

.selectorHeading
{
    text-align: center;
    padding: 7px;
    font-size: 13pt;
    font-weight: bold;
    position: sticky;
    top: 0px;
}

.sidebarItemLight
{
    font-size: 11pt;
    padding: 7px;
    border-bottom: 1px solid lightgray;
    background-color: white;
    box-sizing: border-box;
    color: black
}

.sidebarItemDark
{
    font-size: 11pt;
    padding: 7px;
    border-bottom: 1px solid rgb(111, 111, 111);
    background-color: rgb(67, 67, 67);
    box-sizing: border-box;
    color: white
}

.sidebarItemSelected
{
    background-color: #218dff;
    color: white
}

.inputLight
{
    box-sizing: border-box;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 4px;
    color: #000;
    background-color: #fff;
}

.inputDark
{
    box-sizing: border-box;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 4px;
    color: #fff;
    background-color: rgb(67, 67, 67)
}

.dialogLight
{
    position: fixed;
    width: 250px;
    padding: 5px;
    border-radius: 10px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
    visibility: hidden;
    opacity: 0%;
    z-index: 12;
}

.dialogLight header
{
    font-weight: bold;
    font-size: 12pt;
    text-align: center;
    color: #000;
    padding-top: 10px;
}

.dialogLight p
{
    font-weight: normal;
    font-size: 10pt;
    text-align: center;
    color: #000;
    padding: 10px;
    margin: 0px;
}

.dialogDark
{
    position: fixed;
    width: 250px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(67, 67, 67);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
    visibility: hidden;
    opacity: 0%;
    z-index: 12;
}

.dialogDark header
{
    font-weight: bold;
    font-size: 12pt;
    text-align: center;
    color: #fff;
    padding-top: 10px;
}

.dialogDark p
{
    font-weight: normal;
    font-size: 10pt;
    text-align: center;
    color: #fff;
    padding: 10px;
    margin: 0px;
}

.dialogButtonLight
{
    width: 100%;
    background: linear-gradient(#ececec, #9e9e9e);
    color: #000;
    padding: 4px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
    border: 1px solid #9e9e9e;
    box-shadow: 0px 1px 0px 0px #fff inset, 0px 1px 0px 0px #fff inset;
}
.dialogButtonDark
{
    width: 100%;
    background: linear-gradient(#717171, #000);
    color: #fff;
    padding: 4px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
    border: 1px solid #000;
    box-shadow: 0px 1px 0px 0px #b7b7b7 inset, 0px 1px 0px 0px #b7b7b7 inset;
}

.dialogButtonWarningLight
{
    width: 100%;
    background: linear-gradient(#ff7b7b, #bc0000);
    color: #fff;
    padding: 4px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
    border: 1px solid #bc0000;
    box-shadow: 0px 1px 0px 0px #ffe2e2 inset, 0px 1px 0px 0px #ffe2e2 inset;
}
.dialogButtonWarningDark
{
    width: 100%;
    background:
    linear-gradient(#ff5757, #9b0000);
    color: #fff;
    padding: 4px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
    border: 1px solid #9b0000;
    box-shadow: 0px 1px 0px 0px #fcc inset, 0px 1px 0px 0px #fcc inset;
}

.dialogButtonActionLight
{
    width: 100%;
    background: linear-gradient( 180deg, rgb(149, 200, 255) 0%, rgb(0, 114, 236) 100%);
    color: #fff;
    padding: 4px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
    border: 1px solid rgb(0, 114, 236);
    box-shadow: 0px 1px 0px 0px #d5eaff inset, 0px 1px 0px 0px #d5eaff inset;
}
.dialogButtonActionDark
{
    width: 100%;
    background: linear-gradient(180deg, rgb(103, 176, 255) 0%, rgb(0, 90, 186) 100%);
    color: #fff;
    padding: 4px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
    border: 1px solid rgb(0, 110, 228);
    box-shadow: 0px 1px 0px 0px #c3e0ff inset, 0px 1px 0px 0px #c3e0ff inset;
}

.textLight
{
    color: #000 !important
}
.textDark
{
    color: #fff !important
}

.lastItem
{
    border-bottom: 0px !important
}

.tabLight
{
	display: inline-block;
	padding: 5px;
	background: #aaa;
	position: relative;
    font-family: sans-serif;
	border-radius: 5px 5px 0 0;
	padding-top: 8px;
	padding-left: 14px;
	padding-right: 14px;
	padding-bottom: 5px;
	margin-top: 1px;
	background-color: rgb(204, 204, 204);
	font-size: 12pt;
	text-align: center;
	color: #686868
}
.tabLightSelected
{
	display: inline-block;
	position: relative;
    font-family: sans-serif;
	border-radius: 5px 5px 0 0;
	font-size: 12pt;
	text-align: center;
	background-color: #218dff;
	color: white;
	padding-top: 8px;
	padding-left: 14px;
	padding-right: 14px;
	padding-bottom: 5px;
	margin-top: 1px;
	background: linear-gradient(180deg, rgba(163,208,255,1) 0%, rgb(20, 134, 255) 60%);
	box-shadow: -1px 1px 0px 0px #39a0ff inset, 1px 1px 0px 0px #39a0ff inset, 0px 2px 0px 0px #d0e7ff inset
}

.tabDark
{
	display: inline-block;
	padding: 5px;
	background: #aaa;
	position: relative;
    font-family: sans-serif;
	border-radius: 5px 5px 0 0;
	padding-top: 8px;
	padding-left: 14px;
	padding-right: 14px;
	padding-bottom: 5px;
	margin-top: 1px;
	background-color: rgb(160, 160, 160);
	font-size: 12pt;
	text-align: center;
	color: #424242
}
.tabDarkSelected
{
	display: inline-block;
	position: relative;
    font-family: sans-serif;
	border-radius: 5px 5px 0 0;
	font-size: 12pt;
	text-align: center;
	background-color: #218dff;
	color: white;
	padding-top: 8px;
	padding-left: 14px;
	padding-right: 14px;
	padding-bottom: 5px;
	margin-top: 1px;
	background: linear-gradient(180deg, rgb(134, 193, 255) 0%, #007cff 60%);
	box-shadow: -1px 1px 0px 0px #007cff inset, 1px 1px 0px 0px #007cff inset, 0px 2px 0px 0px #b3d8ff inset
}

.tabViewsLight
{
    border: 4px solid rgb(20, 134, 255)
}
.tabViewsDark
{
    border: 4px solid #007cff;
}