#notificationsIcon
{
    text-align: center;
}

#openNotificationsButton
{
    position: absolute;
    right: 5px;
    top: 33px;
    width: 68px;
    height: 30px;
    z-index: 9;
    margin-top: 0px;

    margin: 0px;
    padding: 0px;
    box-shadow: 0px 0px 0px 0px black;
}
.openNotificationsButtonLight
{
    border: 1px solid #717171;
}
.openNotificationsButtonDark
{
    border: 1px solid #959595;
}

#notificationsMenuWrapper
{
    width: 250px;
    top: 0px;
    right: 0px;
    overflow-x: hidden;
    position: absolute;
    height: 100%;
}
.notificationsMenuWrapperShow
{
    overflow-x: visible !important;
}

#notificationsMenu
{
    position: absolute;
    width: 250px;
    height: 100%;
    overflow-y: scroll;
    top: 0px;
    right: -250px;
    display: block;
    transition: right 0.3s ease-out, visibility 0.3s ease-out;
    visibility: hidden;
    z-index: 11;
    display: flex;
    flex-direction: column;
}
.notificationsMenuLight
{
    background: #f1f1f1;
    box-shadow: rgba(75, 75, 75, 0.6) 12px 12px 33px 2px, rgba(75, 75, 75, 0.6) -12px -12px 33px 2px
}
.notificationsMenuDark
{
    background: black;
    box-shadow: rgba(148, 148, 148, 0.6) 12px 12px 33px 2px, rgba(148, 148, 148, 0.6) -12px -12px 33px 2px
}
.showMenu
{
    visibility: visible !important;
    right: 0px !important;
}
.hideMenu
{
    right: -250px !important;
    visibility: hidden !important;
}

.notificationsMenuHeaderLight
{
    background-color: rgba(255, 255, 255);
    color: rgb(0, 0, 0);
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0px;
    z-index: 17;
}
.notificationsMenuHeaderDark
{
    background-color: rgba(67, 67, 67);
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(90, 90, 90);
    position: sticky;
    top: 0px;
    z-index: 17;
}

#notificationsMenuHeader span
{
    position: relative;
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 13pt;
    display: block;
}

#closeNotificationsButton
{
    position: absolute;
    right: 6px;
    top: 1px;
    font-size: 11pt;
    width: 30px;
    height: 30px;
}

#closeNotificationsButton img
{
    width: 100%;
}

.notificationItemLight
{
    position: relative;
    width: 100%;
    padding: 5px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 6px;
    border: 1px solid #c2c2c2;
    color: black;
    z-index: 16;
    font-family: sans-serif;
}
.notificationItemDark
{
    position: relative;
    width: 100%;
    padding: 5px;
    background-color: rgb(67, 67, 67);
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 6px;
    border: 1px solid rgb(111, 111, 111);
    color: white;
    z-index: 16;
    font-family: sans-serif;
}

#notificationList
{
    margin: 0px;
    padding: 6px;
    border-radius: 4px;
    padding-top: 0px;
    flex: 1;
    overflow-y: scroll;
}

.notificationItemMessage
{
    font-weight: bold;
    padding: 5px;
    padding-bottom: 0px;
    font-size: 12pt;
    text-align: center;
}
.notificationItemDate
{
    font-weight: normal;
    font-size: 11pt;
    font-style: italic;
    padding: 5px
}

@media only screen and (min-width: 1000px)
{
    #newNotificationsList
    {
        position: absolute;
        height: fit-content;
        max-height: calc(100% - 415px);
        right: 0px;
        top: 170px;
        z-index: 13;
        width: 0px;
        opacity: 0;
        visibility: hidden;
        overflow-x: hidden;
        overflow-y: scroll;
        transition: width 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    }
}

@media only screen and (max-width: 999px)
{
    #newNotificationsList
    {
        position: absolute;
        height: fit-content;
        max-height: calc(100% - 165px);
        right: 0px;
        top: 170px;
        z-index: 13;
        width: 0px;
        opacity: 0;
        visibility: hidden;
        overflow-x: hidden;
        overflow-y: scroll;
        transition: width 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    }
}

.showNewNotificationsList
{
    width: 260px !important;
    opacity: 100 !important;
    visibility: visible !important
}
.newNotificationItem
{
    width: 250px !important
}

#noNotificationsPlaceholder
{
    color: #868686;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    font-size: 18pt;
    width: max-content;
}

#notificationsMenuFooter
{
    position: relative;
    margin: 0px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    height: 41px;
    z-index: 11;
}

.notificationsMenuFooterLight
{
    border-top: 1px solid rgb(188, 188, 188);
    background-color: rgba(255, 255, 255);
    color: rgb(0, 0, 0);
}
.notificationsMenuFooterDark
{
    border-top: 1px solid rgb(111, 111, 111);
    background-color: rgba(67, 67, 67);
    color: rgb(255, 255, 255);
}

#clearAllNotificationsButton
{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    width: calc(100% - 14px);
    text-align: center;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    margin-top: 0px
}