<div id="milestonesInfoWindow"
[class.milestonesInfoWindowLight]="themeIsLight()"
[class.milestonesInfoWindowDark]="themeIsDark()"
[class.showWindow]="showWindow()">
    <div id="milestonesInfoWindowHeader"
    [class.headerLight]="themeIsLight()"
    [class.headerDark]="themeIsDark()">
        Milestones

        <div id="closeMilestoneInfo"
        [class.dialogButtonLight]="themeIsLight()"
        [class.dialogButtonDark]="themeIsDark()"
        (click)="closeMilestonesInfoWindow()">
            <img [src]="themeIsLight() ? 'closeLight.svg' : 'closeDark.svg'">
        </div>
    </div>

    <div id="milestonesInfoWindowContent"
    [class.milestonesInfoWindowContentLight]="themeIsLight()"
    [class.milestonesInfoWindowContentDark]="themeIsDark()">
        <div id="tabContainer">
			<div id="tabInfoList"
            [class.tabLight]="!showList() && themeIsLight()"
            [class.tabLightSelected]="showList() && themeIsLight()"
            [class.tabDark]="!showList() && themeIsDark()"
            [class.tabDarkSelected]="showList() && themeIsDark()"
            (click)="openList()">List</div>

            <div id="tabInfoDetails"
            [class.tabLight]="!showDetails() && themeIsLight()"
            [class.tabLightSelected]="showDetails() && themeIsLight()"
            [class.tabDark]="!showDetails() && themeIsDark()"
            [class.tabDarkSelected]="showDetails() && themeIsDark()"
            (click)="openDetails()">Details</div>
		</div>

		<div id="tabViews" [class.tabViewsLight]="themeIsLight()" [class.tabViewsDark]="themeIsDark()" [class.textLight]="themeIsLight()" [class.textDark]="themeIsDark()">
            @if(showList())
            {
                <app-milestones-list></app-milestones-list>
            }
            @if(showDetails())
            {
                <app-milestone-details></app-milestone-details>
            }
        </div>
    </div>
</div>